$vodafoneRed: #E30913;
$vodafoneRedShadow: #DA0000;


$vodafoneMidGrey: #4A4D4E;
$vodafoneDarkGrey: #393B3D;
$vodafoneDarkestGrey: #323232;
$vodafoneDarkerGrey: #333637;
$vodafoneMediumDarkGrey: #4A4A4A;
$vodafoneMediumGrey: #DDDADA;
$vodafoneMediumLightGrey: #616161;
$vodafoneLightGrey: #F6F5F5;
$vodafoneLighterGrey: #5D5D5D;
$vodafoneLightestGrey: #F7F7F7;

$lightGreyText: #A1A1A1;
$mediumGreyText: #666565;

$vodafonePurple: #9D2A9F;

$ratingLightGrey: #D1CFCF;

$playlistGrey: #454545;
$playlistMidGrey: #4E4E4E;
$playlistLightGrey: #DDDCDC;

$loginGreen: #B9BB1F;

$feedbackLightGrey: #5C5C5C;
$feedbackDarkGrey: #505050;

$mediumPink: #EF236E;
$brightPink: #EA6792;
$darkPink: #CF1853;
$lightPink: #F06773;

$lightBlue: #96A0CD;
$mediumBlue: #5D6EBD;

$messagePink: #C54E68;

$pureRed: #FF0000;

$greyOpaque: rgba(40,40,40,0.4);

$toggleGreen: #7D8692;
$togglePink: #9C299F;

$gold: #D49F71;
$black: #000;
$white: #FFF;
$fadedWhite: rgba(255,255,255,.3);
