.dash-frame {
	bottom: 0;
	height: 100%;
	left: 0;
	pointer-events: none;
	position: absolute;
	right: 0;
	top: 0;
	& * {
		pointer-events: auto;
	}
	.dash-handle {
		background: none;
		background-color: $vodafoneMidGrey;
		border: none;
		color: $white;
		left: 0;
		margin: 0 auto;
		-webkit-mask-image: url(#{$imageDir}mask_dashboard_handle.png);
		-webkit-mask-size: 100% 100%;
		pointer-events: auto;
		position: absolute;
		height: 6.4%;
		right: 0;
		top: 0;
		transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
		transition: all 1s ease-in-out;
		width: 40vw;
		z-index: $z-index-highest;
		&.inactive {
			top: 0;
		}
		&.open {
			background-color: $vodafoneMidGrey;
			top: 80.5%;
			&.customise {
				top: 85%;
			}
		}
		.icon {
			background-image: url(#{$imageDir}logo_vodafone_roundel_white_small.png);
			background-size: contain;
			background-repeat: no-repeat;
			display: block;
			margin: 5px auto 0 auto;
			height: 1.4em;
			width: 1.4em;
			span {
				display: none;
			}
		}
	}
	.dash-holder {
		background: $vodafoneMidGrey;
		height: 85%;
		overflow: hidden;
		position: fixed;
		text-align: center;
		top: -85%;
		transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
		transition: all 1s ease-in-out;
		-webkit-backface-visibility: hidden;
		width: 100vw;
		z-index: $z-index-low;
		&.inactive {
			top: -85%;
		}
		&.open {
			top: 0;
		}
		&.animation {
			transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
			transition: top 0s ease-in-out;
		}
		h2 {
			color: $white;
			margin: 4% 0;
			strong {
				font-size: 2rem;
			}
		}
		&.icon-panel {
			color: $white;
			& > .movies {
				background-color: $vodafoneMidGrey;
				transform: translate3d(0,0,0);
				-webkit-transform: translate3d(0,0,0);
				transition: all .5s ease-in-out;
				// opacity: 0;
				position: absolute;
				z-index: 1;
				p {
					font-size: 1rem;
					padding-left: 35px;
					text-align: left;
					&:after {
						content: url(#{$imageDir}icon_upward_arrow_white.png);
						vertical-align: middle;
					}
				}
			}
			& > .initial {
				// opacity: 1;
				position: absolute;
				z-index: 2;
			}
			&.customise {
				top: -90%;
				height: 90%;
				&.open {
					top: 0;
				}
				& > .movies {
					opacity: 1;
					z-index: 2;
				}
				& > .initial {
					transform: translate3d(0,0,0);
					-webkit-transform: translate3d(0,0,0);
					transition: all .5s ease-in-out;
					opacity: 0;
					z-index: 1	;
				}
			}
			.dash-panel {
				opacity: 0;
				transform: translate3d(0,0,0);
				-webkit-transform: translate3d(0,0,0);
				transition: all .5s ease-in-out;
				z-index: 0;
				&.open {
					opacity: 1;
					z-index: 2;
				}
			}
			.dash-grid {
				font-size: 0;
				margin: 0 auto;
				width: 95%;
				li {
					display: inline-block;
					height: 192px;
					margin-bottom: 5px;
					margin-right: 5px;
					width: 148px;
					&:nth-child(6n+6) {
						margin-right: 0;
					}
					a {
						display: block;
						height: 192px;
						width: 148px;
						span {
							display: none;
						}
					}
					&.devices {
						a {
							background-image: url(#{$imageDir}dash_icon_devices.gif);
						}
					}
					&.connectivity {
						a {
							background-image: url(#{$imageDir}dash_icon_connectivity.gif);
						}
						&.ready {
							a {
								background-image: url(#{$imageDir}dash_icon_connectivity_hover.gif);
							}
						}
					}
					&.health {
						a {
							background-image: url(#{$imageDir}dash_icon_health.gif);
						}
					}
					&.movies {
						a {
							background-image: url(#{$imageDir}dash_icon_movies.gif);
						}
					}
					&.audio {
						a {
							background-image: url(#{$imageDir}dash_icon_audio.gif);
						}
					}
					&.wallet {
						a {
							background-image: url(#{$imageDir}dash_icon_wallet.gif);
						}
					}
					&.vplanr {
						a {
							background-image: url(#{$imageDir}dash_icon_vplanr.gif);
						}
					}
					&.home {
						a {
							background-image: url(#{$imageDir}dash_icon_home.gif);
						}
					}
					&.car {
						a {
							background-image: url(#{$imageDir}dash_icon_car.gif);
						}
					}
					&.library {
						a {
							background-image: url(#{$imageDir}dash_icon_library.gif);
						}
					}
					&.gaming {
						a {
							background-image: url(#{$imageDir}dash_icon_gaming.gif);
						}
					}
					&.add {
						a {
							background-image: url(#{$imageDir}dash_icon_add.gif);
						}
					}
				}
			}
			.favourite-channels {
				font-size: 0;
				li {
					display: inline-block;
					a {
						display: block;
						height: 110px;
						width: 110px;
						margin-bottom: 15px;
						margin-right: 15px;
						&:nth-child(6),
						&:nth-child(13) {
							margin-right: 0;
						}
						span {
							display: none;
						}
					}
					&.my-channels {
						a {
							background-image: url(#{$imageDir}dash_my_channels.gif);
							width: 235px;
						}
					}
					&.bbc-one {
						a {
							background-image: url(#{$imageDir}dash_icon_bbc_one.gif);
						}
					}
					&.bbc-two {
						a {
							background-image: url(#{$imageDir}dash_icon_bbc_two.gif);
						}
					}
					&.bbc-three {
						a {
							background-image: url(#{$imageDir}dash_icon_bbc_three.gif);
						}
					}
					&.bbc-four {
						a {
							background-image: url(#{$imageDir}dash_icon_bbc_four.gif);
						}
					}
					&.bbc-news {
						a {
							background-image: url(#{$imageDir}dash_icon_bbc_news.gif);
						}
					}
					&.itv {
						a {
							background-image: url(#{$imageDir}dash_icon_itv.gif);
						}
					}
					&.itv2 {
						a {
							background-image: url(#{$imageDir}dash_icon_itv2.gif);
						}
					}
					&.add {
						a {
							background-image: url(#{$imageDir}dash_icon_custom_add.gif);
						}
					}
				}
			}
			.new-channels {
				font-size: 0;
				li {
					display: inline-block;
					a {
						display: block;
						height: 64px;
						width: 241px;
						margin-bottom: 10px;
						margin-right: 10px;
						&:nth-child(4),
						&:nth-child(8),
						&:nth-child(12) {
							margin-right: 0;
						}
						span {
							display: none;
						}
					}
					&.short {
						a {
							width: 166px;
						}
					}
					&.sky-sports-1 {
						a {
							background-image: url(#{$imageDir}dash_icon_sky_sports_1.gif);
						}
					}
					&.sky-sports-2 {
						a {
							background-image: url(#{$imageDir}dash_icon_sky_sports_2.gif);
						}
					}
					&.sky-sports-3 {
						a {
							background-image: url(#{$imageDir}dash_icon_sky_sports_3.gif);
						}
					}
					&.sky-one {
						a {
							background-image: url(#{$imageDir}dash_icon_sky_one.gif);
						}
					}
					&.sky-one-mix {
						a {
							background-image: url(#{$imageDir}dash_icon_sky_one_mix.gif);
						}
					}
					&.sky-movies-premier {
						a {
							background-image: url(#{$imageDir}dash_icon_sky_movies_premier.gif);
						}
					}
					&.sky-movies-cinema {
						a {
							background-image: url(#{$imageDir}dash_icon_sky_movies_cinema.gif);
						}
					}
					&.sky-box-office {
						a {
							background-image: url(#{$imageDir}dash_icon_sky_box_office.gif);
						}
					}
					&.sky-news-active {
						a {
							background-image: url(#{$imageDir}dash_icon_sky_news_active.gif);
						}
					}
					&.sky-gamestar {
						a {
							background-image: url(#{$imageDir}dash_icon_sky_gamestar.gif);
						}
					}
					&.sky-travel {
						a {
							background-image: url(#{$imageDir}dash_icon_sky_travel.gif);
						}
					}
					&.sky-fi {
						a {
							background-image: url(#{$imageDir}dash_icon_sky_fi.gif);
						}
					}
				}
			}
			.movies {
				.back {
					left: 3rem;
					position: absolute;
					top: -2rem;
					&:before {
						content: url(#{$imageDir}icon_chevron_left_large_white.png);
					}
					span {
						display: none;
					}
				}
			}
			.usage {
				.back {
					left: 3rem;
					position: absolute;
					top: -3rem;
					&:before {
						content: url(#{$imageDir}icon_chevron_left_large_white.png);
					}
					span {
						display: none;
					}
					img {
						margin-top: -1rem;
					}
				}
			}
		}
		&.vplanr {
			&.open {
				height: 100%;
				top: 0;
				padding: 35px 0;
			}
		}
		&.touch-lock {
			h2 {
				font-size: 1.2rem;
				font-weight: 400;
				margin-top: 6rem;
				strong {
					color: $loginGreen;
					font-size: 1.2rem;
				}
			}
		}
		&.menu {
			color: $white;
			text-align: left;
			& > dl {
				width: 80%;
				margin: 8rem auto 0;
				position: relative;
				& > dt {
					font-size: 1.4rem;
				}
				dl {
					dt {
						font-size: 1.4rem;
						font-weight: 700;
						&.sub {
							&:after {
								content: url(#{$imageDir}icon_chevron_down_white.png);
								padding-left: 10px;
								vertical-align: bottom;
							}
						}
					}
				}
			}
			.col-1,
			.col-2,
			.col-3,
			.col-4 {
				position: absolute;
				width: 25%;
			}
			dd.col-1,
			dd.col-2,
			dd.col-3,
			dd.col-4 {
				top: 2rem;
			}
			dd.col-4 {
				dt {
					&:nth-child(2){
						margin-bottom: 1rem;
					}
					&:nth-child(5){
						margin-bottom: 1rem;
					}
				}
			}
			.col-1 {
				left: 0;
			}
			.col-2 {
				left: 25%;
			}
			.col-3 {
				left: 50%;
			}
			.col-4 {
				left: 75%;
			}
		}
		&.profile {
			$color: $white;
			font-size: 0;
			height: 100%;
			position: relative;
			text-align: left;
			top: -100%;
			&.open {
				background-color: $vodafoneMidGrey;
				top: 0;
			}
			& > h2 {
				left: 50%;
				margin-left: -10rem;
				position: absolute;
				text-align: center;
				top: 0;
				width: 20rem;
			}
			& > .nav {
				border-right: 1px solid $vodafoneDarkerGrey;
				padding-right: 10px;
				position: absolute;
				right: 61px;
				top: 35px;
				h3 {
					color: $lightGreyText;
					font-size: 1rem;
					&.current {
						color: $white;
						font-size: 1.2rem;
						font-weight: 700;
					}
				}
				.logout {
					background-image: url(#{$imageDir}icon_exit.png);
					display: block;
					height: 20px;
					position: absolute;
					right: -30px;
					top: 6px;
					width: 20px;
				}
			}
			.details {
				color: $white;
				display: inline-block;
				margin-top: 6rem;
				width: 50%;
				vertical-align: top;
				.avatar {
					padding-left: 3rem;
					h3 {
						line-height: 0;
					}
					.location {
						line-height: 1;
					}
					.edited {
						font-size: .8rem;
						line-height: 1;
					}
					img {
						margin-top: 1rem;
					}
				}
				.tools {
					width: 54%;
					li {
						background-repeat: no-repeat;
						border-bottom: 1px solid $vodafoneDarkerGrey;
						padding: 1rem 0 1rem 6rem;
						position: relative;
						&.edit {
							background-image: url(#{$imageDir}icon_cog.png);
							background-position: top 50% left 55px;
						}
						&.messages {
							background-image: url(#{$imageDir}icon_envelope_small.png);
							background-position: top 50% left 54px;
							.count {
								background-color: $messagePink;
								border-radius: 28px;
								display: inline-block;
								margin-left: 20px;
								padding: 2px;
								text-align: center;
								width: 40px;
							}
						}
						&.level {
							background-image: url(#{$imageDir}icon_wallet_small.png);
							background-position: top 50% left 56px;
							.gold {
								color: $gold;
								margin-left: 10px;
								position: absolute;
								text-transform: uppercase;
								width: 10rem;
								&:before {
									content: url(#{$imageDir}icon_gold_medal.png);
									padding-right: 20px;
									vertical-align: -webkit-baseline-middle;
								}
							}
						}
					}
				}
			}
			.profile-aspects {
				color: $white;
				display: inline-block;
				margin-top: 6rem;
				padding-right: 6vw;
				position: relative;
				vertical-align: top;
				width: 50%;
				.tabs {
					font-size: 0;
					li {
						color: $white;
						display: inline-block;
						font-size: 1.6rem;
						position: relative;
						width: 50%;
						&:first-child {
							text-align: left;
							border-right: 3px solid $white;
						}
						&:last-child {
							text-align: right;
							padding-right: 3rem;
						}
						&.current {
							color: $mediumGreyText;
						}
					}
				}
				.paging {
					border: none;
					background: none;
					position: absolute;
					top: 1rem;
					z-index: 3;
					&.right {
						right: 28px;
						&:after {
							content: url(#{$imageDir}icon_chevron_right_large_white.png);
						}
					}
					&.left {
						left: -30px;
						&:after {
							content: url(#{$imageDir}icon_chevron_left_large_white.png);
						}
					}
					span {
						display: none;
					}
				}
				.info {
					font-size: .6rem;
				}
				.panels {
					& > li {
						opacity: 0;
						position: absolute;
						transform: translate3d(0,0,0);
						-webkit-transform: translate3d(0,0,0);
						transition: all .5s ease-in-out;
						z-index: 1;
						&.current {
							opacity: 1 !important;
							z-index: 2;
						}
					}
				}
				.billing {
					z-index: 1;
					h2 {
						font-weight: 700;
					}
					h3 {
						font-size: .8rem;
						font-weight: bold;
					}
					.usage,
					.mobile-charges {
						border-top: 1px solid $vodafoneDarkerGrey;
						padding: 2rem 0 1rem 0;
					}
					.mobile-charges {
						background-image: url(#{$imageDir}icon_exclamation_red.png);
						background-position: top 2rem left 0;
						background-repeat: no-repeat;
						padding-left: 2.5rem;
						.estimate {
							h4 {
								font-size: .9rem;
								font-weight: bold;
							}
							p {
								font-size: .8rem;
							}
							.tarifs {
								&:after {
									content: url(#{$imageDir}icon_chevron_right.png);
									padding-left: 5px;
								}
							}
						}
					}
				}
				.connections {
					width: 440px;
					z-index: 2;
					li {
						border-bottom: 1px solid $vodafoneDarkerGrey;
						font-size: 0;
						padding: 4px;
					}
					.label {
						display: inline-block;
						width: 60%
					}
					.toggle {
						display: inline-block;
						position: relative;
						vertical-align: middle;
						width: 86px;
						&:after {
							background-color: rgba(0,0,0,.4);
							border-radius: 20px;
							content: '';
							display: block;
							padding: 20px;
							width: 40px
						}
						&:before {
							background-color: $toggleGreen;
							border-radius: 100%;
							content: url(#{$imageDir}icon_off_cross.png);
							font-size: 8px;
							padding: 9px 10px 7px 10px;
							position: absolute;
							top: 4px;
							left: 4px;
							right: 50px;
							margin: 1px;
							transform: translate3d(0,0,0);
							-webkit-transform: translate3d(0,0,0);
							transition: all .5s ease-in-out;
						}
						&.on {
							&:before {
								background-color: $togglePink;
								content: url(#{$imageDir}icon_on_tick.png);
								padding: 8px 8px;
								left: 46px;
								right: 10px;
							}
						}
					}
					.edit {
						display: inline-block;
						padding-left: 10px;
						width: 10%;
					}
				}
				.last-month {
					margin-bottom: 10px;
					a {
						&:before {
							content: url(#{$imageDir}icon_chevron_left_medium.png);
							padding-right: 6px;
							vertical-align: bottom;
						}
					}
				}
			}
		}
	}
}
