.logged-in {
	.lifestyle {
		background-image: url(#{$imageDir}hero_yoga.jpg);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		position: relative;
		.copy {
			color: $black;
			left: 5%;
			position: absolute;
			top: 20%;
			width: 50%;
			a {
				color: $black;
				&:after {
					content: url(#{$imageDir}icon_right_pointing_chevron_black.png);
					padding-left: 5px;
				}
			}
		}
	}
	.network-feed {
		background-color: $vodafoneLightGrey;
		background-image: url(#{$imageDir}background_content_arrow_top.png);
		background-position: center 0;
		background-repeat: no-repeat;
		background-size: 100%;
		bottom: 0;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		padding: 3rem 1rem;
		p {
			word-break: break-all;
			a {
				color: $black;
			}
		}
		ul li {
			border-bottom: 1px solid #9696A1;
			font-size: 0;
			padding: 1rem 0;
			.avatar {
				display: inline-block;
				width: 30%;
			}
			.info {
				display: inline-block;
				width: 70%;
			}
			.date {
				font-size: 1.1rem;
			}
			.at {
				font-size: 1.4rem;
				font-weight: 700;
			}
			.message {
				font-size: 1.1rem;
				a {
					font-size: 1.1rem;
				}
			}
			.handle {
				font-size: 1.1rem;
				font-weight: 700;
			}
		}
	}
}
