.logged-in {
	.col.full.product {
		border-left: 1px solid $vodafoneLightGrey;
		transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
		transition: all 1s ease-in-out;
		width: 0;
		&.open {
			width: 100vw;
		}
	}
	.product-detail {
		display: block;
		height: 100%;
		.product {
			display: block;
			height: 100%;
			.details {
				font-size: 0;
				height: 60%;
				.image {
					display: inline-block;
					margin-left: 5%;
					padding-top: 10%;
					width: 20%;
					vertical-align: top;
				}
				.description {
					display: inline-block;
					padding: 15% 5% 0 5%;
					width: 55%;
					vertical-align: top;
					p {
						font-size: 1rem;
						a {
							font-weight: 700;
							color: $black;
						}
					}
					.color {
						font-size: 0;
						margin-top: 2%;
						li {
							display: inline-block;
							margin-right: 15px;
							padding: 5px;
							&.selected {
								border: black 1px solid;
							}
							span {
								background: -webkit-linear-gradient(top, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.4) 30%,rgba(255,255,255,0) 100%);
								display: block;
								height: 15px;
								-webkit-mask-image: url(#{$imageDir}mask_circular.png);
								-webkit-mask-size: 100% 100%;
								width: 15px;
								&.black {
									background-color: #000;
								}
								&.pink {
									background-color: #E74F8D;
								}
								&.green {
									background-color: #CCD477;
								}
								&.red {
									background-color: #E34B32;
								}
							}
						}
					}
					.utils {
						font-size: 0;
						li {
							display: inline-block;
							vertical-align: middle;
							&.price {
								font-size: 2rem;
								font-weight: 700;
								margin-right: 3rem;
							}
							&.add {
								background-color: $vodafonePurple;
								font-size: 0.8rem;
								padding: 0 .5rem;
								&:after {
									content: url(#{$imageDir}icon_chevron_right.png);
									padding-left: 5px;
								}
							}
						}
					}
					.delivery-options {
						margin-top: 1rem;
						li {
							display: inline-block;
							font-weight: 700;
							width: 100%;
							&.tick {
								&:after {
									content: url(#{$imageDir}icon_green_tick.png);
									padding-left: 5px;
									vertical-align: middle;
								}
							}
							&.unticked {
								&:after {
									content: '';
									border: 2px solid $black;
									display: inline-block;
									height: 12px;
									margin-left: 5px;
									vertical-align: middle;
									width: 12px;
								}
							}
						}
					}
				}
				.fact {
					display: inline-block;
					font-size: 0;
					margin-top: 15rem;
					width: 20%;
					.image {
						display: inline-block;
						line-height: 1;
						margin-left: 0;
						padding-top: 0;
						width: 30%;
						vertical-align: top;
					}
					.text {
						display: inline-block;
						line-height: 1;
						padding: 0 10px;
						width: 70%;
						vertical-align: top;
						.title {
							font-size: .8rem;
							font-weight: 700;
							line-height: 1;
							text-transform: uppercase;

						}
						.number {
							color: $vodafonePurple;
							font-size: 3rem;
							font-weight: 700;
							line-height: 1;
						}
						.description {
							font-size: .8rem;
							padding: 0;
							width: 100%;
						}
						.next {
							color: $black;
							font-size: .8rem;
							font-weight: 700;
							&:after {
								content: url(#{$imageDir}icon_chevron_grey_right_small.png);
								padding-left: 5px;
								vertical-align: sub;
							}
						}
					}
				}
				.social {
					position: absolute;
					top: 1rem;
					right: 1rem;
					display: inline-block;
					margin-top: 2rem;
					width: 30%;
					vertical-align: top;
				}
			}
			.reviews {
				font-size: 0;
				height: 40%;
				position: absolute;
				top: 60%;
				width: 100%;
				.tabs {
					font-size: 0;
					margin: 0 auto;
					position: relative;
					text-align: center;
					z-index: 2;
					li {
						background: $white;
						border: solid $vodafoneMediumGrey;
						border-width: 0 0 1px 0;
						display: inline-block;
						font-weight: bold;
						width: 33.33%;
						&.current {
							background: $vodafoneLightestGrey;
							border-width: 1px 1px 0 1px;
							&:first-child {
								border-width: 1px 1px 0 0;
							}
							&:last-child {
								border-width: 1px 0 0 1px;
							}
						}
					}
				}
				.paging {
					border: none;
					background: none;
					position: absolute;
					top: 8rem;
					z-index: 3;
					&.right {
						right: 1rem;
						&:after {
							content: url(#{$imageDir}icon_grey_chevron_large_right.png);
						}
					}
					&.left {
						left: 1rem;
						&:after {
							content: url(#{$imageDir}icon_grey_chevron_large_left.png);
						}
					}
					span {
						display: none;
					}
				}
				.panels {
					background: $vodafoneLightestGrey;
					font-size: 0;
					height: 20rem;
					margin-top: -2px;
					position: relative;
					z-index: 1;
					width: 100%;
					.videos-tab,
					.reviews-tab {
						opacity: 0;
						position: absolute;
						transform: translate3d(0,0,0);
						-webkit-transform: translate3d(0,0,0);
						transition: opacity .5s ease-in-out;
						width: 100%;
						&.current {
							opacity: 1;
						}

					}
				}
				.review {
					font-size: 0;
					margin: 0 auto;
					padding-bottom: 20rem;
					width: 70%;
					.meta {
						font-size: .8rem;
						.handle {
							font-weight: 700;
						}
					}
					h3 {
						font-size: 1rem;
						font-weight: 700;
					}
					.user-text {
						font-size: 1rem;
						margin-bottom: 2rem;
					}
				}
				.feedback {
					display: inline-block;
					width: 50%;
					vertical-align: top;
					fieldset {
						position: relative;
					}
					.recommend {
						background-image: url(#{$imageDir}icon_tick);
						background-repeat: no-repeat;
						content: '';
						height: 13;
						left: -20px;
						position: absolute;
						top: 4px;
						width: 15;
						input {
							visibility: hidden;
						}
					}
					.helpful {
						font-size: 0;
						label {
							display: inline-block;
							width: 30%;
						}
						p {
							font-size: 1rem;
						}
						input {
							-webkit-appearance: none;
							background-image: none;
							border-radius: 0;
							border: 2px solid $black	;
							height: 15px;
							width: 15px;
							&:checked {
								border-width: 10px;
								background: $black;
							}
						}
						.yes {
							display: inline-block;
							width: 35%;
							p,input {
								display: inline-block;
							}
						}
						.no {
							display: inline-block;
							width: 35%;
							p,input {
								display: inline-block;
							}
						}
					}
				}
				.public-rating {
					display: inline-block;
					margin-top: 1em;
					width: 50%;
					vertical-align: top;
				}
				.rating {
					li {
						&:before {
							padding: 0;
						}
					}
				}
			}
			.related {
				height: 40%;
				position: absolute;
				top: 60%;
				width: 100%;
				h2 {
					background: $white;
					border-bottom: 1px solid $vodafoneMediumGrey;
					font-size: 1.4rem;
					font-weight: 700;
					padding-left: 1rem;
					position: absolute;
					top: 0;
					right: 0;
					width: 50%;
				}
			}
			.reviews-tab {
				z-index: 1;
			}
			.videos-tab {
				z-index: 2;
				ul {
					padding: 3rem 0;
					margin: 0 auto;
					text-align: center;
					width: 80%;
					li {
						display: inline-block;
					}
				}
			}
		}
	}
}
