<section class="col full channels">
	<video poster="visuals/images/poster_desperate_housewives.jpg" id="channel-video">
		<source src="visuals/videos/Carnival.mp4" type="video/mp4">
	</video>
	<div class="channel-selector">
		<div class="handle">
			<a class="drag"></a>
			<h2>Choose your channel</h2>
		</div>
		<div class="channels">
			<p class="message">Keep up with your favourite events with<br> <strong>Vf live stream @Vodafone5G speeds</strong>,<br> wherever you are!</p>
			<ul>
				<li class="channel4"><span>Channel 4</span></li>
				<li class="channel5"><span>Channel 5</span></li>
				<li class="sky-living"><span>Sky Living</span></li>
			</ul>
			<ul>
				<li class="more4"><span>More 4</span></li>
				<li class="channel5star"><span>5 Star</span></li>
				<li class="channel5usa"><span>5 USA</span></li>
			</ul>
			<ul>
				<li class="sky-livingit"><span>Sky Livingit</span></li>
				<li class="sky1"><span>Sky 1</span></li>
				<li class="sky2"><span>Sky 2</span></li>
			</ul>
			</table>
		</div>
	</div>
</section>
