<section class="col half connecting">
	<div class="copy">
		<h2>Connecting our customers on a <strong>global scale</strong></h2>
		<a class="point plus top" href="#" data-target=".message.top" data-closed="0"><span>A link</span></a>
		<a class="point plus bottom" href="#" data-target=".message.bottom" data-closed="0"><span>A link</span></a>
	</div>
	<div class="message top">
		<div class="content">
			<h3>Connected Mobile</h3>
			<img class="device" src="visuals/images/icon_device_medium.png">
			<p><span class="large-number">69%</span> of smartphones in the UK browse the internet via their <strong>mobile</strong> network connections. Thats’s why we are extending our mobile network with <strong>5G technology</strong> giving you the best connectionn possible, wherever you are.</p>
			<ul class="links">
				<li><a href="#">View all <strong>5G packages</strong></a></li>
			</ul>
		</div>
	</div>
	<div class="message bottom">
		<div class="content">
			<h3>Broadband enabled</h3>
			<img class="antennae" src="visuals/images/icon_antennae_medium.png">
			<p>With over <span class="large-number">47%</span> of all internet activity coming from the home and over 65% of that using tablets besed devices, we have changed our broadband options to suit your needs.</p>
			<ul class="links">
				<li><a class="devices" href="#">See all <strong>tablet devices</strong></a></li>
				<li><a class="broadband">View all <strong>Broadband options</strong></a></li>
			</ul>
		</div>
</section>
