<nav class="help-nav">
	<a href="#" class="message"><span>Message</span></a>
	<a href="#" class="comment"><span>Comment</span></a>
	<a href="#" class="call"><span>Call</span></a>
	<a href="#" class="sound"><span>Sound</span></a>
	<a href="#" class="faq"><span>FAQ</span></a>
	<a href="#" class="play"><span>Play</span></a>
</nav>
<h3><strong>Ask Tom.</strong> Your Vodafone concierge</h3>
<div class="video">
	<video id="help" poster="visuals/images/help_video_poster.jpg" controls>
		<source type="video/mp4" src="visuals/videos/RioClip.mp4">
	</video>
</div>

<a href="#" class="close"><span></span></a>
