<section class="col full product">
	<div class="product-detail">
		<div class="product">
			<div class="details">
				<div class="image">
					<img src="visuals/images/product_smartwatch_large.jpg">
				</div>
				<div class="description">
					<h1>LG G-Watch</h1>
					<p>LG and Google combine forces yet again to bring you their next innovative creation - the LG G-Watch powered by Android Wear. <a href="#">More ↓</a></p>
					<ul class="color">
						<li class="selected"><span class="black"></span></li>
						<li><span class="pink"></span></li>
						<li><span class="green"></span></li>
						<li><span class="red"></span></li>
					</ul>
					<ul class="utils">
						<li class="price">£149.99</li>
						<li class="add"><a href="#">Add to basket</a></li>
					</ul>
					<ul class="delivery-options">
						<li class="tick">Collect now from your nearest store - <strong>Paddington</strong></li>
						<li class="unticked">Home delivery</li>
					</ul>
				</div>
				<div class="fact">
					<div class="image">
						<img src="visuals/images/product_iphone_app.jpg">
					</div>
					<div class="text">
						<p class="title">What we know…</p>
						<p class="number">64%</p>
						<p class="description">of users connect bluetooth to connect their watch to their phone</p>
						<a class="next" href="#">Next</a>
					</div>
				</div>
				<div class="social">
					<ul class="sharing">
						<li class="text">Share this product</li>
						<li class="fb"><a href="#"></a></li>
						<li class="tw"><a href="#"></a></li>
						<li class="gl"><a href="#"></a></li>
						<li class="in"><a href="#"></a></li>
						<li class="pn"><a href="#"></a></li>
					</ul>
				</div>
			</div>
			<div class="reviews">
				<button class="paging left"><span>Left<span></button>
				<button class="paging right"><span>Right</span></button>
				<ul class="tabs">
					<li class="videos-tab current" data-target=".videos-tab">Product Videos</li>
					<li class="reviews-tab" data-target=".reviews-tab">Reviews + Recomendations</li>
					<li class="related-tab inactive">Related products</li>
				</ul>
				<ul class="panels">
					<li class="videos-tab current">
						<ul>
							<li>
								<iframe width="320" height="180" src="//www.youtube.com/embed/qQHoaUgKLT8" frameborder="0" allowfullscreen></iframe>
							</li>
							<li>
								<iframe width="320" height="180" src="//www.youtube.com/embed/0k3KLjVUzF4" frameborder="0" allowfullscreen></iframe>
							</li>
						</ul>
					</li>
					<li class="reviews-tab">
						<div class="review">
							<ul class="rating three">
								<li><span>Bad</span></li>
								<li><span>Poor</span></li>
								<li><span>OK</span></li>
								<li><span>Good</span></li>
								<li><span>Amazing</span></li>
							</ul>
							<p class="meta"><span class="date">May 2014</span> <span class="handle">Lilkala</span></p>
							<h3>AMAZING!</h3>
							<p class="user-text">The best in ear. Had the v1 this are wayy better. Cable thinner and more durable, better sound Crystal clear like the other reviewer said</p>
							<form class="feedback">
								<fieldset>
									<span class="recommend"><input name="recommend" type="checkbox"></span>
									<label for="recommend">Yes, I recommend this product.</label>
								</fieldset>
								<fieldset class="helpful">
									<label for="">Was helpful?</label>
									<div class="yes">
										<p>Yes</p>
										<input type="radio" name="helpful" value="yes">
									</div>
									<div class="no">
										<p>No</p>
										<input type="radio" name="helpful" value="no">
									</div>
								</fieldset>
							</form>
							<p class="public-rating"><strong>77</strong> of <strong>168</strong> people found this interesting</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
