<header>
	<nav>
		<a class="icon menu" data-target=".dash-holder.menu" data-close=".help-handle, .help-holder, .icon-panel, .dash-handle, .profile, .vplanr"><span>Menu</span></a>
		<a class="icon shopping"><span>Offers</span></a>
		<a class="icon help-handler handler" data-handle=".help-handle" data-target=".help-holder" data-close=".dash-handle, .dash-holder, .icon-panel, .profile, .vplanr"><span>Support</span></a>
		<a class="icon dashboard"></a>
		<a class="icon search"><span>Search</span></a>
		<a class="icon trolley"><span>Trolley</span></a>
		<a class="icon profile" data-target=".dash-holder.profile" data-close=".help-handle, .help-holder, .icon-panel, .dash-handle, .menu, .vplanr"><span>Profile</span></a>
	</nav>
	<div class="login" data-closed="-300" data-open="34" data-transition="top" data-units="px">
		<div class="avatar">
			<img src="visuals/images/avatar_medium.png">
		</div>
		<div class="message">
			<p class="name error"><strong>Not Emma?</strong></p>
			<p class="action">You’ll need to login to your account <a href="#"><strong>here</strong></a></p>
		</div>
	</div>
</header>