<main id="content">
	<div class="scroller">
		<div class="row">
			<section class="col full home" id="home" data-url="/scripts/home-data.js">
				<div class="copy">
					<h1>Let us keep and eye on him, <br>Emma.</h1>
					<p>Let Vodafones MyHome and Mimo’s revolutionary Smart Baby Onesie, help you sleep sounder.</p>
					<a class="cta rectangle">Connect to <strong>Mimo</strong></a>
					<img class="product-image" src="visuals/images/product_mimo_iphone.png">
				</div>
			</section>
			<section class="col full channels">
				<a class="close"><span>Close</span></a>
				<video poster="visuals/images/poster_desperate_housewives.jpg" id="channel-video">
					<source src="visuals/videos/Carnival.mp4" type="video/mp4">
				</video>
				<div class="channel-selector">
					<div class="handle">
						<a class="drag"></a>
						<h2>Choose your channel</h2>
					</div>
					<div class="channels">
						<p class="message">Keep up with your favourite events with<br> <strong>Vf live stream @Vodafone5G speeds</strong>,<br> wherever you are!</p>
						<ul>
							<li class="channel4"><span>Channel 4</span></li>
							<li class="channel5"><span>Channel 5</span></li>
							<li class="sky-living"><span>Sky Living</span></li>
						</ul>
						<ul>
							<li class="more4"><span>More 4</span></li>
							<li class="channel5star"><span>5 Star</span></li>
							<li class="channel5usa"><span>5 USA</span></li>
						</ul>
						<ul>
							<li class="sky-livingit"><span>Sky Livingit</span></li>
							<li class="sky1"><span>Sky 1</span></li>
							<li class="sky2"><span>Sky 2</span></li>
						</ul>
						</table>
					</div>
				</div>
			</section>
			<section class="col third music">
				<div class="spotify">
					<header>
						<h2>My Spotify Playlists</h2>
						<h3>On the move:</h3>
					</header>
					<ul class="playlists">
						<li class="open">
							<header>
								<h4>Turin to Forte dei Marmi</h4>
							</header>
							<ul class="playlist">
								<li>
									<h5 class="title">Get Lucky</h5>
									<p class="artist">Daft Punk</p>
								</li>
								<li>
									<h5 class="title">Fino All’Estasi</h5>
									<p class="artist">Emos Ramazotti ft. Nicole</p>
								</li>
								<li>
									<h5 class="title">Every Teardrop is a Waterfall</h5>
									<p class="artist">Coldplay</p>
								</li>
								<li>
									<h5 class="title">Ride like the wind</h5>
									<p class="artist">Christopher Cross</p>
								</li>
								<li>
									<h5 class="title">Here for you</h5>
									<p class="artist">Gorgon City ft. Laura Welsh</p>
								</li>
								<li>
									<h5 class="title">If I Could Change Your Mind</h5>
									<p class="artist">Haim</p>
								</li>
								<li>
									<h5 class="title">Whole Lotta Love</h5>
									<p class="artist">Led Zeppelin</p>
								</li>
								<li>
									<h5 class="title">Hawaiian Air</h5>
									<p class="artist">Friendly Fires</p>
								</li>
								<li>
									<h5 class="title">Dissolve Me</h5>
									<p class="artist">Alt-J</p>
								</li>
								<li>
									<h5 class="title">Green Flag</h5>
									<p class="artist">Growing</p>
								</li>
							</ul>
						</li>
						<li>
							<header>
								<h4>Mix</h4>
							</header>
						</li>
						<li>
							<header class="logo">
								<img src="visuals/images/logo_fiat.png">
								<h4> FIAT Compilation 14</h4>
							</header>
						</li>
						<li>
							<header class="logo">
								<img src="visuals/images/logo_vespa.png">
								<h4>Vespas Hottest</h4>
							</header>
						</li>
						<li>
							<header>
								<h4>Emma’s Yoga</h4>
							</header>
						</li>
						<li>
							<header>
								<h4>Emma - Work</h4>
							</header>
						</li>
						<li>
							<header>
								<h4>90’s</h4>
							</header>
						</li>
						<li>
							<header>
								<h4>Ambient (Air)</h4>
							</header>
						</li>
					</ul>
				</div>
				<footer>
					<h2>Sync my playlists</h2>
				</footer>
			</section>
			<section class="col two-thirds lifestyle">
				<div class="copy">
					<h2><strong>Yoga</strong> on the move</h2>
					<p><strong>VodafoneYoga</strong> -  now available for iPhone and Android. <a href="#"><strong>Download</strong></a></p>
				</div>
			</section>
			<section class="col third network-feed">
				<h3><strong>Yoga</strong> on my network</h3>
				<ul>
					<li>
						<p class="date">Jun 5</p>
						<p class="at">@electricfoxy</p>
						<p class="message">Can exercise monitors reduce obesity rates? <a href="http://www.cnn.com/2014/06/04/living/ralitsa-vassileva-digital-fitness-monitors/index.html">http://www.cnn.com/2014/06/04/living/ralitsa-vassileva-digital-fitness-monitors/index.html</a></p>
						<p class="handle">Jennifer Garner @JennyG</p>
					</li>
					<li>
						<div class="avatar">
							<img src="visuals/images/avatar_yoga_medium.png">
						</div>
						<div class="info">
							<p class="date">Yesterday</p>
							<p class="at">Yoga.com</p>
						</div>
						<p class="message">More info on avoiding injuries in your yoga practice here: <a href="https://yoga.com/article/how-to-avoid-injuries-when-practicing-yoga-at-home">https://yoga.com/article/how-to-avoid-injuries-when-practicing-yoga-at-home</a></p>
						<p class="handle">#yoga #yogainjuries</p>
					</li>
					<li>
						<p class="date">Jun 5</p>
						<p class="at">@electricfoxy</p>
						<p class="message">Can exercise monitors reduce obesity rates? <a href="http://www.cnn.com/2014/06/04/living/ralitsa-vassileva-digital-fitness-monitors/index.html">http://www.cnn.com/2014/06/04/living/ralitsa-vassileva-digital-fitness-monitors/index.html</a></p>
						<p class="handle">Jennifer Garner @JennyG</p>
					</li>
					<li>
						<div class="avatar">
							<img src="visuals/images/avatar_yoga_medium.png">
						</div>
						<div class="info">
							<p class="date">Yesterday</p>
							<p class="at">Yoga.com</p>
						</div>
						<p class="message">More info on avoiding injuries in your yoga practice here: <a href="https://yoga.com/article/how-to-avoid-injuries-when-practicing-yoga-at-home">https://yoga.com/article/how-to-avoid-injuries-when-practicing-yoga-at-home</a></p>
						<p class="handle">#yoga #yogainjuries</p>
					</li>
				</ul>
				<p><a href="#"><span>More</span></a></p>
			</section>
			<section class="col third products">
				<h2><strong>Yoga accessories trending now</strong></h2>
				<ul class="product-list">
					<li>
						<img src="visuals/images/product_jawbone_up.jpg">
						<ul class="rating background one">
							<li><span>Bad</span></li>
							<li><span>Poor</span></li>
							<li><span>OK</span></li>
							<li><span>Good</span></li>
							<li><span>Amazing</span></li>
						</ul>
						<p class="product-name">LG G-Watch</p>
						<p class="product-description">Powered by Android Wear.</p>
						<ul class="details">
							<li class="price">£149.99</li>
							<li><a class="point arrow right" href="#" data-url="partials/lg-g-watch.html"><span>View details</span></a></li>
						</ul>
						<img src="visuals/images/product_smartwatch.jpg">
					</li>
					<li>
						<ul class="rating background three">
							<li><span>Bad</span></li>
							<li><span>Poor</span></li>
							<li><span>OK</span></li>
							<li><span>Good</span></li>
							<li><span>Amazing</span></li>
						</ul>
						<p class="product-name">UP by Jawbone</p>
						<p class="product-description">UP by Jawbone conmbines a wristband and app iPhone, iPad or iPod touch.</p>
						<ul class="details">
							<li class="price">£119.99</li>
							<li><a class="point arrow right" href="#" data-url="partials/lg-g-watch.html"><span>View details</span></a></li>
						</ul>
						<img src="visuals/images/product_nike_fuelband.jpg">
					</li>
				</ul>
			</section>
			<section class="col quarter photos">
				<header>
					<h2>My Photos</h2>
				</header>
				<div class="photo-set">
					<div class="controls">
						<h3>Nike FunRun</h3>
						<a class="close">X</a>
					</div>
					<img src="visuals/images/photo_running.jpg">
				</div>
			</section>
			<section class="col three-quarters first">
				<header>
					<h1>Be the first</h1>
				</header>
				<div class="join">
					<h3>Would you help us make a new service we’ve been working on here at Vodafone?</h3>
					<div class="image">
						<img src="visuals/images/logo_vplanr.jpg">
					</div>
					<ul>
						<li>Organise your daily, weekly and monthly activities online</li>
						<li>Book shopping deliveries from your local stores and our partners such as Ocado, Waitrose and Sainsburys</li>
						<li>Reserve a table at your favourite restaurant or with our friends at  Wagamamas, Oblix and Harvey Nichols</li>
						<li>Plan events, book tickets with Ticketmaster and   manage your  social calendar in one place</li>
						<li>Set up diaries and calendars for yourself and your family</li>
						<li>Even book a nanny to look after Molly on saturday night!</li>
					</ul>
					<div class="add"><a>Tap to add it to your dashboard and start a 90 day trial!</a></div>
				</div>
			</section>
		</div>
	</div>
</main>