<!-- HANDLE -->
<a class="point pull right movie-handle arrow down" href="#" data-target=".movie-frame"><span>See your options</span></a>
<!-- PANEL -->
<aside data-closed="100" data-open="25" data-transition="top" data-units="%" class="movie-frame">
	<ul class="options">
		<li class="sales">
			<img src="visuals/images/product_movie_device_range.png">
			<h4 class="large">73%</h4>
			<p>of customers stream their movies on more than 3 digital devices <a href="#"><strong>#onthemove</strong></a></p>
		</li>
		<li class="packages">
			<ul class="formats">
				<li class="mobile"><a href="#"><span>Mobile</span></a></li>
				<li class="television"><a href="#"><span>Television</span></a></li>
				<li class="home-phone"><a href="#"><span>Home Phone</span></a></li>
				<li class="radio"><a href="#"><span>Radio</span></a></li>
			</ul>
			<div class="format television">
				<h4>Movies with <span class="now-logo"><span>NowTV</span></span></h4>
				<p>We’ve upgraded your entertainment package to include <strong>NowTV</strong> for you to watch movies wherever you want on wahtever you like!</p>
				<img class="television" src="visuals/images/logo_sky_channels.png">
			</div>
			<a class="before-point" href="#">View all upgrades</a>
		</li>
	</ul>
</aside>
