<section class="col full vplanr pink">
	<header>
		<div class="logo">
			<img src="visuals/images/icon_dashboard_meter.png">
		</div>
		<div class="title">
			<div class="icon">
				<img src="visuals/images/icon_vplanr_small_red.png" width="60px">
			</div>
			<div class="heading">
				<h1>Emma’s V-Planr</h1>
				<p>Tuesday 12th August</p>
			</div>
		</div>
		<div class="time">
			<div class="clock">
				<div class="analogue">
					<div class="face">
						<div class="big-hand"></div>
						<div class="medium-hand"></div>
					</div>
				</div>
				<div class="digital">
					<p><span class="hours">00</span>.<span class="minutes">00</span><span class="period"></span></p>
				</div>
			</div>
		</div>
	</header>
	<aside class="tools">
		<ul>
			<li class="email">
				<a href="#"><span>Email</span><span class="unread">3</span></a>
			</li>
			<li class="send">
				<a href="#"><span>Send</span></a>
			</li>
			<li class="compose">
				<a href="#"><span>Compose</span></a>
			</li>
			<li class="favourite">
				<a href="#"><span>Favourite</span></a>
			</li>
			<li class="trash">
				<a href="#"><span>Trash</span></a>
			</li>
		</ul>
	</aside>
	<section class="calendar">
		<ul>
			<li class="hour">
				<h4>8 AM</h4>
			</li>
			<li class="hour">
				<h4>9 AM</h4>
			</li>
			<li class="hour event">
				<h4>10 AM</h4>
				<div class="details">
					<h3>Ocado Delivery</h3>
					<p>Booked 16/6 @ 4.49pm</p>
				</div>
			</li>
			<li class="hour">
				<h4>11 AM</h4>
			</li>
			<li class="hour">
				<h4>12 PM</h4>
			</li>
			<li class="hour event">
				<h4>1 PM</h4>
				<div class="logo">
					<img src="">
				</div>
				<div class="details">
					<h3>Zumba Class</h3>
					<p>Booked 13/6 @ 4.40pm</p>
				</div>
				<div class="sharing"></div>
			</li>
			<li class="hour">
				<h4>2 PM</h4>
			</li>
			<li class="hour">
				<h4>3 PM</h4>
			</li>
			<li class="hour">
				<h4>4 PM</h4>
			</li>
		</ul>
	</section>
	<aside class="actions">
		<div class="add-event">
			<a href='#'>Add event<span class="add">+</a></a>
		</div>
		<ul class="services">
			<li class="ocado"><a href="#"><span>Ocado</span><span class="add">+</span></a></li>
			<li class="zumba"><a href="#"><span>Zumba</span><span class="add">+</span></a></li>
			<li class="bumps-babies"><a href="#"><span>Bumps & Babies Group</span><span class="add">+</span></a></li>
		</ul>
	</aside>
	<footer></footer>
</section>
<section class="col full vplanr grey">
	<header>
		<div class="logo">
			<img src="visuals/images/icon_dashboard_meter.png">
		</div>
		<div class="title">
			<div class="icon">
				<img src="visuals/images/icon_vplanr_small_red.png" width="60px">
			</div>
			<div class="heading">
				<h1>Emma’s V-Planr</h1>
				<p>Tuesday 12th August</p>
			</div>
		</div>
		<div class="time">
			<div class="clock">
				<div class="analogue">
					<div class="face">
						<div class="big-hand"></div>
						<div class="medium-hand"></div>
					</div>
				</div>
				<div class="digital">
					<p><span class="hours">00</span>.<span class="minutes">00</span><span class="period"></span></p>
				</div>
			</div>
		</div>
	</header>
	<aside class="tools">
		<ul>
			<li class="email">
				<a href="#"><span>Email</span><span class="unread">3</span></a>
			</li>
			<li class="send">
				<a href="#"><span>Send</span></a>
			</li>
			<li class="compose">
				<a href="#"><span>Compose</span></a>
			</li>
			<li class="favourite">
				<a href="#"><span>Favourite</span></a>
			</li>
			<li class="trash">
				<a href="#"><span>Trash</span></a>
			</li>
		</ul>
	</aside>
	<section class="calendar">
		<ul>
			<li class="hour">
				<h4>8 AM</h4>
			</li>
			<li class="hour">
				<h4>9 AM</h4>
			</li>
			<li class="hour event">
				<h4>10 AM</h4>
				<div class="details">
					<h3>Ocado Delivery</h3>
					<p>Booked 16/6 @ 4.49pm</p>
				</div>
			</li>
			<li class="hour">
				<h4>11 AM</h4>
			</li>
			<li class="hour">
				<h4>12 PM</h4>
			</li>
			<li class="hour event">
				<h4>1 PM</h4>
				<div class="logo">
					<img src="">
				</div>
				<div class="details">
					<h3>Zumba Class</h3>
					<p>Booked 13/6 @ 4.40pm</p>
				</div>
				<div class="sharing"></div>
			</li>
			<li class="hour">
				<h4>2 PM</h4>
			</li>
			<li class="hour">
				<h4>3 PM</h4>
			</li>
			<li class="hour">
				<h4>4 PM</h4>
			</li>
		</ul>
	</section>
	<aside class="actions">
		<div class="add-event">
			<a href='#'>Add event<span class="add">+</a></a>
		</div>
		<ul class="services">
			<li class="ocado"><a href="#"><span>Ocado</span><span class="add">+</span></a></li>
			<li class="zumba"><a href="#"><span>Zumba</span><span class="add">+</span></a></li>
			<li class="bumps-babies"><a href="#"><span>Bumps & Babies Group</span><span class="add">+</span></a></li>
		</ul>
	</aside>
	<footer></footer>
</section>
